<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.github.templator.generatorContribution"
            nameFilter="*.gen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.github.templator.popup.actions.TemplateGeneratorAction"
               id="com.github.templator.templateGenerateAction"
               label="Generate From Template"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>


</plugin>
